# Node
node_modules/
dist/

# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.local

# Build folders
build/
.next/

# Mac
.DS_Store

# Logs
*.log

# Temporary folders
temp/
exports/
storage/